@font-face {
    font-family: 'hogwarts-legacy';
    /* Fontun adı, istediğiniz gibi adlandırabilirsiniz */
    src: url('../font/hogwarts.ttf') format('truetype');
    /* Fontun yolu */
    font-weight: normal;
    /* Opsiyonel: font kalınlığı */
    font-style: normal;
    /* Opsiyonel: font stili */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'hogwarts-legacy';
}

body {
    background-image: url(../img/background.jpeg);
    background-color: #0f1e25;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    color: white;
}

.big-box {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 30px;
    filter: contrast(1.5);
}

.big-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big-box .content {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    position: absolute;
    top: 80%;
    text-align: center;
    padding: 0 30px 30px;
    transition: all 500ms;

}

.content h1 {
    font-size: 3em;
    font-family: 'hogwarts-legacy';
    font-weight: bold;
    padding-bottom: 10px;
    transition: all 500ms;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    color:#ffb700;
    border: 2px solid;
    margin-bottom: 10px;
}

.content p {
    font-family: 'hogwarts-legacy';
    text-align: justify;
    font-weight: normal;
    transition: all 500ms;
}

.big-box:hover .content {
    top: 0;
    cursor: pointer;
    filter: contrast(0.9);
    background-color: rgba(6, 64, 43, 0.7);
}

.big-box:hover .content h1 {
    margin-top: 40%;
    margin-bottom: 20px;
}

footer p {
    font-size: large;
}

footer {
    width: 50rem;
    height: 6rem;
    border-radius: 3rem;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    align-content: center;
    border: 2px solid;
    color: #cdae5f;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    margin-top: 300px;
}

footer span a{
    text-decoration: none;
    color: #ffb700;
    font-size: 1.5em;
}



footer span:hover {
    cursor: pointer;
    text-decoration: underline;

}